!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %title PomodoroLife
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    - if (head = yield(:head)).present?
      = head
    - if (head = yield(:plan)).present?
      = head
  %body
    %nav#my-menu
      %ul.wrap_ul
        - if user_signed_in?
          %li
            %p.header_prof
              %img{ src: current_user.cover, width: '40px', height: '40px' }
              %span= current_user.name
          %li
            = link_to root_path do
              %i.fa.fa-home
              %span HOME
          %li
            = link_to new_plan_path(week: 'this') do
              %i.fa.fa-calendar-plus-o
              %span 今週のプランを立てる
          %li
            = link_to plans_path(week: 'this') do
              %i.fa.fa-calendar
              %span 今週のプラン
          %li
            = link_to new_plan_path do
              %i.fa.fa-calendar-plus-o
              %span 来週のプランを立てる
          %li
            = link_to plans_path do
              %i.fa.fa-calendar
              %span 来週のプラン
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              %span ログアウト
        - else
          %li
            = link_to user_facebook_omniauth_authorize_path do
              %i.fa.fa-facebook-square
              %span 無料Facebookログイン
    .wrapper
      #nomal_view
        %header#header.container
          .content.dropdown
            %h1
              = link_to root_path do
                = image_tag 'http://placehold.it/113x27', width: '113px', height: '27px', alt: "pomodoro-life"
            = link_to "#my-menu", id: "my-menu-button", class: 'menu_button' do
              %i.fa.fa-bars
        #page_wrap
          = yield
